.searchContainer {
    background:rgba(28,104,142);
    padding:24px 21px;
    &__input {
        padding:20px;
        width:calc(100% - 40px);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        border-radius:4px;
        border-width: 1px;
        border-color:#D6D6D6;
        color:gray;
        font-weight: 500;
        font-size: 1.05em;
        &::placeholder {
            font-weight: 500;
            color:#B3B3B3;
        }
    }
}