.sidebar {
    border-right:1px solid #D3D3D3;
    padding:40px 20px 20px 40px;
    flex-grow: 0.33;
    font-size:0.8em;
    flex-basis: 0;
}

@media screen and (max-width: 720px) {
    .sidebar {
        display:block;
        flex:none;
    }
}